{"openapi":"3.0.3","info":{"title":"Blobscan API","description":"OpenAPI compliant REST API built using tRPC with Express","version":"1.0.0"},"servers":[{"url":"https://api.blobscan.com"}],"paths":{"/blocks":{"get":{"operationId":"block-getAll","summary":"retrieves all blocks.","tags":["blocks"],"parameters":[{"name":"sort","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"startBlock","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"endBlock","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"startSlot","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"endSlot","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"rollup","in":"query","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["reorged","canonical"],"default":"canonical"}},{"name":"expand","in":"query","required":false,"schema":{"type":"string"}},{"name":"p","in":"query","required":false,"schema":{"type":"number"}},{"name":"ps","in":"query","required":false,"schema":{"type":"number"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"blocks":{"type":"array","items":{"type":"object","properties":{"hash":{"type":"string"},"number":{"type":"number","minimum":0},"timestamp":{"type":"string"},"slot":{"type":"number","minimum":0},"blobGasUsed":{"type":"string"},"blobAsCalldataGasUsed":{"type":"string"},"blobGasPrice":{"type":"string"},"excessBlobGas":{"type":"string"},"transactions":{"type":"array","items":{"type":"object","properties":{"hash":{"type":"string"},"blobs":{"type":"array","items":{"type":"object","properties":{"index":{"type":"number"},"versionedHash":{"type":"string"},"dataStorageReferences":{"type":"array","items":{"type":"object","properties":{"blobStorage":{"type":"string","enum":["google","swarm","postgres","file_system"]},"dataReference":{"type":"string"}},"required":["blobStorage","dataReference"],"additionalProperties":false}},"data":{"type":"string"},"commitment":{"type":"string"},"proof":{"type":"string","nullable":true},"size":{"type":"number"}},"required":["index","versionedHash"],"additionalProperties":false}},"from":{"type":"string"},"to":{"type":"string"},"maxFeePerBlobGas":{"type":"string"},"blobAsCalldataGasUsed":{"type":"string"},"rollup":{"type":"string","nullable":true},"blobAsCalldataGasFee":{"type":"string"},"blobGasBaseFee":{"type":"string"},"blobGasMaxFee":{"type":"string"},"blobGasUsed":{"type":"string"}},"required":["hash","blobs"],"additionalProperties":false}}},"required":["hash","number","timestamp","slot","blobGasUsed","blobAsCalldataGasUsed","blobGasPrice","excessBlobGas","transactions"],"additionalProperties":false}},"totalBlocks":{"type":"number"}},"required":["blocks","totalBlocks"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/blocks/{id}":{"get":{"operationId":"block-getByBlockId","summary":"retrieves block details for given block number or hash.","tags":["blocks"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["reorged","canonical"],"default":"canonical"}},{"name":"expand","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"hash":{"type":"string"},"number":{"type":"number","minimum":0},"timestamp":{"type":"string"},"slot":{"type":"number","minimum":0},"blobGasUsed":{"type":"string"},"blobAsCalldataGasUsed":{"type":"string"},"blobGasPrice":{"type":"string"},"excessBlobGas":{"type":"string"},"transactions":{"type":"array","items":{"type":"object","properties":{"hash":{"type":"string"},"blobs":{"type":"array","items":{"type":"object","properties":{"index":{"type":"number"},"versionedHash":{"type":"string"},"dataStorageReferences":{"type":"array","items":{"type":"object","properties":{"blobStorage":{"type":"string","enum":["google","swarm","postgres","file_system"]},"dataReference":{"type":"string"}},"required":["blobStorage","dataReference"],"additionalProperties":false}},"data":{"type":"string"},"commitment":{"type":"string"},"proof":{"type":"string","nullable":true},"size":{"type":"number"}},"required":["index","versionedHash"],"additionalProperties":false}},"from":{"type":"string"},"to":{"type":"string"},"maxFeePerBlobGas":{"type":"string"},"blobAsCalldataGasUsed":{"type":"string"},"rollup":{"type":"string","nullable":true},"blobAsCalldataGasFee":{"type":"string"},"blobGasBaseFee":{"type":"string"},"blobGasMaxFee":{"type":"string"},"blobGasUsed":{"type":"string"}},"required":["hash","blobs"],"additionalProperties":false}}},"required":["hash","number","timestamp","slot","blobGasUsed","blobAsCalldataGasUsed","blobGasPrice","excessBlobGas","transactions"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/transactions":{"get":{"operationId":"tx-getAll","summary":"retrieves all blob transactions.","tags":["transactions"],"parameters":[{"name":"sort","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"startBlock","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"endBlock","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"startSlot","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"endSlot","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"rollup","in":"query","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["reorged","canonical"],"default":"canonical"}},{"name":"expand","in":"query","required":false,"schema":{"type":"string"}},{"name":"p","in":"query","required":false,"schema":{"type":"number"}},{"name":"ps","in":"query","required":false,"schema":{"type":"number"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"transactions":{"type":"array","items":{"type":"object","properties":{"hash":{"type":"string"},"blockNumber":{"type":"number"},"blockHash":{"type":"string"},"from":{"type":"string"},"to":{"type":"string"},"maxFeePerBlobGas":{"type":"string"},"blobAsCalldataGasUsed":{"type":"string"},"rollup":{"type":"string","nullable":true},"blobs":{"type":"array","items":{"type":"object","properties":{"versionedHash":{"type":"string"},"index":{"type":"number"},"data":{"type":"string"},"commitment":{"type":"string"},"proof":{"type":"string","nullable":true},"size":{"type":"number"},"dataStorageReferences":{"type":"array","items":{"type":"object","properties":{"blobStorage":{"type":"string","enum":["google","swarm","postgres","file_system"]},"dataReference":{"type":"string"}},"required":["blobStorage","dataReference"],"additionalProperties":false}}},"required":["versionedHash","index"],"additionalProperties":false}},"block":{"type":"object","properties":{"blobGasUsed":{"type":"string"},"blobAsCalldataGasUsed":{"type":"string"},"blobGasPrice":{"type":"string"},"excessBlobGas":{"type":"string"},"hash":{"type":"string"},"timestamp":{"type":"string"},"slot":{"type":"number","minimum":0}},"additionalProperties":false},"blobAsCalldataGasFee":{"type":"string"},"blobGasBaseFee":{"type":"string"},"blobGasMaxFee":{"type":"string"},"blobGasUsed":{"type":"string"}},"required":["hash","blockNumber","blockHash","from","to","maxFeePerBlobGas","blobAsCalldataGasUsed","rollup","blobs","blobAsCalldataGasFee","blobGasMaxFee","blobGasUsed"],"additionalProperties":false}},"totalTransactions":{"type":"number"}},"required":["transactions","totalTransactions"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/transactions/{hash}":{"get":{"operationId":"tx-getByHash","summary":"retrieves transaction details for given transaction hash.","tags":["transactions"],"parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}},{"name":"expand","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"hash":{"type":"string"},"blockNumber":{"type":"number"},"blockHash":{"type":"string"},"from":{"type":"string"},"to":{"type":"string"},"maxFeePerBlobGas":{"type":"string"},"blobAsCalldataGasUsed":{"type":"string"},"rollup":{"type":"string","nullable":true},"blobs":{"type":"array","items":{"type":"object","properties":{"versionedHash":{"type":"string"},"index":{"type":"number"},"data":{"type":"string"},"commitment":{"type":"string"},"proof":{"type":"string","nullable":true},"size":{"type":"number"},"dataStorageReferences":{"type":"array","items":{"type":"object","properties":{"blobStorage":{"type":"string","enum":["google","swarm","postgres","file_system"]},"dataReference":{"type":"string"}},"required":["blobStorage","dataReference"],"additionalProperties":false}}},"required":["versionedHash","index"],"additionalProperties":false}},"block":{"type":"object","properties":{"blobGasUsed":{"type":"string"},"blobAsCalldataGasUsed":{"type":"string"},"blobGasPrice":{"type":"string"},"excessBlobGas":{"type":"string"},"hash":{"type":"string"},"timestamp":{"type":"string"},"slot":{"type":"number","minimum":0}},"additionalProperties":false},"blobAsCalldataGasFee":{"type":"string"},"blobGasBaseFee":{"type":"string"},"blobGasMaxFee":{"type":"string"},"blobGasUsed":{"type":"string"}},"required":["hash","blockNumber","blockHash","from","to","maxFeePerBlobGas","blobAsCalldataGasUsed","rollup","blobs","blobAsCalldataGasFee","blobGasMaxFee","blobGasUsed"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/blobs":{"get":{"operationId":"blob-getAll","summary":"retrieves all blobs.","tags":["blobs"],"parameters":[{"name":"p","in":"query","required":false,"schema":{"type":"number"}},{"name":"ps","in":"query","required":false,"schema":{"type":"number"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"startBlock","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"endBlock","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"startSlot","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"endSlot","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"rollup","in":"query","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["reorged","canonical"],"default":"canonical"}},{"name":"expand","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"blobs":{"type":"array","items":{"type":"object","properties":{"commitment":{"type":"string"},"proof":{"type":"string","nullable":true},"size":{"type":"number"},"versionedHash":{"type":"string"},"data":{"type":"string"},"dataStorageReferences":{"type":"array","items":{"type":"object","properties":{"blobStorage":{"type":"string","enum":["google","swarm","postgres","file_system"]},"dataReference":{"type":"string"}},"required":["blobStorage","dataReference"],"additionalProperties":false}},"index":{"type":"number","minimum":0},"txHash":{"type":"string"},"blockNumber":{"type":"number","minimum":0},"block":{"type":"object","properties":{"blobGasUsed":{"type":"string"},"blobAsCalldataGasUsed":{"type":"string"},"blobGasPrice":{"type":"string"},"excessBlobGas":{"type":"string"},"hash":{"type":"string"},"timestamp":{"type":"string"},"slot":{"type":"number","minimum":0}},"additionalProperties":false},"transaction":{"type":"object","properties":{"from":{"type":"string"},"to":{"type":"string"},"maxFeePerBlobGas":{"type":"string"},"blobAsCalldataGasUsed":{"type":"string"},"rollup":{"type":"string","nullable":true},"blobAsCalldataGasFee":{"type":"string"},"blobGasBaseFee":{"type":"string"},"blobGasMaxFee":{"type":"string"},"blobGasUsed":{"type":"string"}},"additionalProperties":false}},"required":["commitment","proof","size","versionedHash","dataStorageReferences","index","txHash","blockNumber"],"additionalProperties":false}},"totalBlobs":{"type":"number"}},"required":["blobs","totalBlobs"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/blobs/{id}":{"get":{"operationId":"blob-getByBlobId","summary":"retrieves blob details for given versioned hash or kzg commitment.","tags":["blobs"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"expand","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"commitment":{"type":"string"},"proof":{"type":"string","nullable":true},"size":{"type":"number"},"versionedHash":{"type":"string"},"data":{"type":"string"},"dataStorageReferences":{"type":"array","items":{"type":"object","properties":{"blobStorage":{"type":"string","enum":["google","swarm","postgres","file_system"]},"dataReference":{"type":"string"}},"required":["blobStorage","dataReference"],"additionalProperties":false}},"transactions":{"type":"array","items":{"type":"object","properties":{"hash":{"type":"string"},"index":{"type":"number","minimum":0},"block":{"type":"object","properties":{"number":{"type":"number","minimum":0},"blobGasUsed":{"type":"string"},"blobAsCalldataGasUsed":{"type":"string"},"blobGasPrice":{"type":"string"},"excessBlobGas":{"type":"string"},"hash":{"type":"string"},"timestamp":{"type":"string"},"slot":{"type":"number","minimum":0}},"required":["number"],"additionalProperties":false},"from":{"type":"string"},"to":{"type":"string"},"maxFeePerBlobGas":{"type":"string"},"blobAsCalldataGasUsed":{"type":"string"},"rollup":{"type":"string","nullable":true},"blobAsCalldataGasFee":{"type":"string"},"blobGasBaseFee":{"type":"string"},"blobGasMaxFee":{"type":"string"},"blobGasUsed":{"type":"string"}},"required":["hash","index","block"],"additionalProperties":false}}},"required":["commitment","proof","size","versionedHash","data","dataStorageReferences","transactions"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/stats/overall":{"get":{"operationId":"stats-getAllOverallStats","summary":"retrieves all overall stats.","tags":["stats"],"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"blob":{"type":"object","properties":{"totalBlobs":{"type":"number"},"totalUniqueBlobs":{"type":"number"},"totalBlobSize":{"type":"string"},"avgBlobSize":{"type":"number"},"updatedAt":{"type":"string","format":"date-time"}},"required":["totalBlobs","totalUniqueBlobs","totalBlobSize","avgBlobSize","updatedAt"],"additionalProperties":false},"block":{"type":"object","properties":{"totalBlocks":{"type":"number"},"totalBlobGasUsed":{"type":"string"},"totalBlobAsCalldataGasUsed":{"type":"string"},"totalBlobFee":{"type":"string"},"totalBlobAsCalldataFee":{"type":"string"},"avgBlobFee":{"type":"number"},"avgBlobAsCalldataFee":{"type":"number"},"avgBlobGasPrice":{"type":"number"},"updatedAt":{"type":"string","format":"date-time"}},"required":["totalBlocks","totalBlobGasUsed","totalBlobAsCalldataGasUsed","totalBlobFee","totalBlobAsCalldataFee","avgBlobFee","avgBlobAsCalldataFee","avgBlobGasPrice","updatedAt"],"additionalProperties":false},"transaction":{"type":"object","properties":{"totalTransactions":{"type":"number"},"totalUniqueReceivers":{"type":"number"},"totalUniqueSenders":{"type":"number"},"avgMaxBlobGasFee":{"type":"number"},"updatedAt":{"type":"string","format":"date-time"}},"required":["totalTransactions","totalUniqueReceivers","totalUniqueSenders","avgMaxBlobGasFee","updatedAt"],"additionalProperties":false}},"required":["blob","block","transaction"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/stats/blobs":{"get":{"operationId":"stats-getBlobDailyStats","summary":"retrieves blob time series stats.","tags":["stats"],"parameters":[{"name":"timeFrame","in":"query","required":true,"schema":{"type":"string","enum":["1d","7d","15d","30d","180d","360d","All"]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"days":{"type":"array","items":{"type":"string"}},"totalBlobs":{"type":"array","items":{"type":"number"}},"totalUniqueBlobs":{"type":"array","items":{"type":"number"}},"totalBlobSizes":{"type":"array","items":{"type":"number"}},"avgBlobSizes":{"type":"array","items":{"type":"number"}}},"required":["days","totalBlobs","totalUniqueBlobs","totalBlobSizes","avgBlobSizes"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/stats/blobs/overall":{"get":{"operationId":"stats-getBlobOverallStats","summary":"retrieves blobs overall stats.","tags":["stats"],"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"totalBlobs":{"type":"number"},"totalUniqueBlobs":{"type":"number"},"totalBlobSize":{"type":"string"},"avgBlobSize":{"type":"number"},"updatedAt":{"type":"string","format":"date-time"}},"required":["totalBlobs","totalUniqueBlobs","totalBlobSize","avgBlobSize","updatedAt"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/stats/blocks":{"get":{"operationId":"stats-getBlockDailyStats","summary":"retrieves blocks time series stats.","tags":["stats"],"parameters":[{"name":"timeFrame","in":"query","required":true,"schema":{"type":"string","enum":["1d","7d","15d","30d","180d","360d","All"]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"days":{"type":"array","items":{"type":"string"}},"totalBlocks":{"type":"array","items":{"type":"number"}},"totalBlobGasUsed":{"type":"array","items":{"type":"string"}},"totalBlobAsCalldataGasUsed":{"type":"array","items":{"type":"string"}},"totalBlobFees":{"type":"array","items":{"type":"string"}},"totalBlobAsCalldataFees":{"type":"array","items":{"type":"string"}},"avgBlobFees":{"type":"array","items":{"type":"number"}},"avgBlobAsCalldataFees":{"type":"array","items":{"type":"number"}},"avgBlobGasPrices":{"type":"array","items":{"type":"number"}}},"required":["days","totalBlocks","totalBlobGasUsed","totalBlobAsCalldataGasUsed","totalBlobFees","totalBlobAsCalldataFees","avgBlobFees","avgBlobAsCalldataFees","avgBlobGasPrices"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/stats/blocks/overall":{"get":{"operationId":"stats-getBlockOverallStats","summary":"retrieves blocks overall stats.","tags":["stats"],"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"totalBlocks":{"type":"number"},"totalBlobGasUsed":{"type":"string"},"totalBlobAsCalldataGasUsed":{"type":"string"},"totalBlobFee":{"type":"string"},"totalBlobAsCalldataFee":{"type":"string"},"avgBlobFee":{"type":"number"},"avgBlobAsCalldataFee":{"type":"number"},"avgBlobGasPrice":{"type":"number"},"updatedAt":{"type":"string","format":"date-time"}},"required":["totalBlocks","totalBlobGasUsed","totalBlobAsCalldataGasUsed","totalBlobFee","totalBlobAsCalldataFee","avgBlobFee","avgBlobAsCalldataFee","avgBlobGasPrice","updatedAt"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/stats/transactions":{"get":{"operationId":"stats-getTransactionDailyStats","summary":"retrieves transactions time series stats.","tags":["stats"],"parameters":[{"name":"timeFrame","in":"query","required":true,"schema":{"type":"string","enum":["1d","7d","15d","30d","180d","360d","All"]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"days":{"type":"array","items":{"type":"string"}},"totalTransactions":{"type":"array","items":{"type":"number"}},"totalUniqueSenders":{"type":"array","items":{"type":"number"}},"totalUniqueReceivers":{"type":"array","items":{"type":"number"}},"avgMaxBlobGasFees":{"type":"array","items":{"type":"number"}}},"required":["days","totalTransactions","totalUniqueSenders","totalUniqueReceivers","avgMaxBlobGasFees"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/stats/transactions/overall":{"get":{"operationId":"stats-getTransactionOverallStats","summary":"retrieves transactions overall stats.","tags":["stats"],"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"totalTransactions":{"type":"number"},"totalUniqueReceivers":{"type":"number"},"totalUniqueSenders":{"type":"number"},"avgMaxBlobGasFee":{"type":"number"},"updatedAt":{"type":"string","format":"date-time"}},"required":["totalTransactions","totalUniqueReceivers","totalUniqueSenders","avgMaxBlobGasFee","updatedAt"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/indexer/reorged-slots":{"put":{"operationId":"indexer-handleReorgedSlots","summary":"marks all blocks with slots matching the given reorged slots as reorged.","tags":["indexer"],"security":[{"Authorization":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"reorgedSlots":{"type":"array","items":{"type":"number","exclusiveMinimum":true,"minimum":0},"minItems":1}},"required":["reorgedSlots"],"additionalProperties":false}}}},"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"totalUpdatedSlots":{"type":"number"}},"required":["totalUpdatedSlots"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}}},"/indexer/block-txs-blobs":{"put":{"operationId":"indexer-indexData","summary":"indexes data in the database.","tags":["indexer"],"security":[{"Authorization":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"block":{"type":"object","properties":{"number":{"type":"number"},"hash":{"type":"string"},"timestamp":{"type":"number"},"slot":{"type":"number"},"blobGasUsed":{"type":"string"},"excessBlobGas":{"type":"string"}},"required":["number","hash","timestamp","slot","blobGasUsed","excessBlobGas"],"additionalProperties":false},"transactions":{"type":"array","items":{"type":"object","properties":{"hash":{"type":"string"},"from":{"type":"string"},"to":{"type":"string"},"blockNumber":{"type":"number"},"gasPrice":{"type":"string"},"maxFeePerBlobGas":{"type":"string"}},"required":["hash","from","to","blockNumber","gasPrice","maxFeePerBlobGas"],"additionalProperties":false}},"blobs":{"type":"array","items":{"type":"object","properties":{"versionedHash":{"type":"string"},"commitment":{"type":"string"},"proof":{"type":"string"},"data":{"type":"string"},"txHash":{"type":"string"},"index":{"type":"number"}},"required":["versionedHash","commitment","proof","data","txHash","index"],"additionalProperties":false}}},"required":["block","transactions","blobs"],"additionalProperties":false}}}},"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{}}}},"default":{"$ref":"#/components/responses/error"}}}},"/blockchain-sync-state":{"get":{"operationId":"syncState-getState","summary":"retrieves the blockchain sync state.","tags":["indexer"],"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"lastAggregatedBlock":{"type":"number","nullable":true},"lastFinalizedBlock":{"type":"number","nullable":true},"lastLowerSyncedSlot":{"type":"number","nullable":true},"lastUpperSyncedSlot":{"type":"number","nullable":true}},"required":["lastAggregatedBlock","lastFinalizedBlock","lastLowerSyncedSlot","lastUpperSyncedSlot"],"additionalProperties":false}}}},"default":{"$ref":"#/components/responses/error"}}},"put":{"operationId":"syncState-updateState","summary":"updates the blockchain sync state.","tags":["indexer"],"security":[{"Authorization":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"lastLowerSyncedSlot":{"type":"number"},"lastUpperSyncedSlot":{"type":"number"},"lastFinalizedBlock":{"type":"number"}},"additionalProperties":false}}}},"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{}}}},"default":{"$ref":"#/components/responses/error"}}}},"/healthcheck":{"get":{"operationId":"healthcheck","summary":"connection healthcheck.","tags":["system"],"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"string"}}}},"default":{"$ref":"#/components/responses/error"}}}}},"components":{"securitySchemes":{"Authorization":{"type":"http","scheme":"bearer"}},"responses":{"error":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"additionalProperties":false}}},"required":["message","code"],"additionalProperties":false}}}}}},"tags":[{"name":"blobs"},{"name":"transactions"},{"name":"blocks"},{"name":"stats"},{"name":"indexer"},{"name":"system"}],"externalDocs":{"url":"https://docs.blobscan.com/"}}